:root {
    --primary-blue: rgb(19, 44, 119);
    --grey-background: rgb(202, 202, 202);
}
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
header {
    background-color: #ffffff; 
    color: #000000; 
    padding: 10px; 
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 120px;
    padding: 0 50px;
}


.banner-logo img {
    width: 200px; 
    height: 180px;
    padding: 50px 0;
    object-fit: contain;
}

nav {
    height: 100%;
}
.nav-buttons {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    height: 100%;
    z-index: 1;
}
.nav-buttons a {
    height: 100%;
    min-width: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-blue);
}
.nav-buttons a:hover {
    background-color: rgb(199, 199, 199);
    color: white;
}

.shopping-cart a {
    text-decoration: none;
    font-size: large;
    color: #000000; 
    height: 30px;
}
.shopping-cart img {
    max-width: 38px;
    max-height: 42px;
    padding: 1px;
}

.burger-menu-image {
    height: 50px;
}
#burger-menu-input {
    opacity: 0;
    position: absolute;
}
.burger-menu-label {
    display: none; 
    align-items: center;  
    height: 100%;
    cursor: pointer;
}
.burger-menu-button {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right : 20px;
}
.burger-menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 20px 0;
    background-color: #dfdfdf;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, .6);
    transition: 0.2s;
}
.burger-menu-box ul {
    list-style: none;
}
.burger-menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
}
.burger-menu-item:hover {
    background-color: #CFD8DC;
}
#burger-menu-input:checked ~ .burger-menu-box {
    visibility: visible;
    left: 0;
}

.banner-wrapper {
    overflow: hidden;
    height: 500px;
    width: 100%;
    background-color: var(--primary-blue);
    display: flex;
}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 30px 50px;
    height: 100%;
}

.banner-buttons {
    display: flex;
    gap: 20px;
    padding-bottom: 75px;
}
.banner-button {
    padding: 10px 30px;
    color: white;
    border: white solid 3px;
    background-color: var(--primary-blue);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    min-width: 200px
}
.banner-button:hover {
    background-color: white;
    color: var(--primary-blue);
}

.banner-image-wrapper {
    position: relative;
    width: 100%;
}
.banner-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-triangle {
    background-color: var(--primary-blue);
    width: 150px;
    height: 100%;
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 100% 0, 100% 0);
}

.second-banner-content { 
    display: flex;
}
.second-banner-text {
    padding: 50px;
}
.two-skiers-img {
    width: 40%;
    object-fit: cover;
}
.second-banner-content { 
    display: flex;
    background-color: rgb(0, 145, 194);
}
.second-banner-content h2 {
    text-align: center;
}
.second-banner-content p {
    padding: 100px;
    font-size: 24px;
    font-weight: 100;
    display: flex;
}

footer {
    background-color: var(--primary-blue);
    color: #664040;
    padding: 20px 0;
    text-align: center;
    justify-content: space-between;
    font-weight: bold;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
    text-transform: uppercase;
}

footer a:hover {
    text-decoration: none;
    color: black;
    padding: 5px;
    text-transform: uppercase;
    height: 100%;
}



@media (max-width: 900px) {
    .burger-menu-label {
        display: flex;
    }
    .second-banner-content { 
        flex-direction: column;
    }
    .two-skiers-img {
        width: 100%;
    }
    .nav-buttons-main {
        display: none;
    }

    .second-banner-content p {
        padding: 20px 30px;
    }
    .second-banner-text {
        padding: 20px 0;
    }
    .banner-buttons {
        margin-top: 30px;
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column;
    }

}