:root {
    --primary-blue: rgb(19, 44, 119);
    --grey-background: rgb(202, 202, 202);
}
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
header {
    background-color: #ffffff; 
    color: #000000; 
    padding: 10px; 
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 120px;
    padding: 0 50px;
}


.banner-logo img {
    width: 200px; 
    height: 180px;
    padding: 50px 0;
    object-fit: contain;
}

nav {
    height: 100%;
}
.nav-buttons {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    height: 100%;
}
.nav-buttons a {
    height: 100%;
    min-width: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-blue);
}
.nav-buttons a:hover {
    background-color: rgb(199, 199, 199);
    color: white;
}

.shopping-cart a {
    text-decoration: none;
    font-size: large;
    color: #000000; 
    height: 30px;
}
.shopping-cart img {
    max-width: 38px;
    max-height: 42px;
    padding: 1px;
}
.burger-menu-image {
    height: 50px;
}

#burger-menu-input {
    opacity: 0;
    position: absolute;
}

.burger-menu-label {
    display: none; 
    align-items: center;  
    height: 100%;
    cursor: pointer;
}


.burger-menu-button {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right : 20px;
}

.burger-menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 20px 0;
    background-color: #dfdfdf;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, .6);
    transition: 0.2s;
}

.burger-menu-box ul {
    list-style: none;
}

.burger-menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
}

.burger-menu-item:hover {
    background-color: #CFD8DC;
}

#burger-menu-input:checked ~ .burger-menu-box {
    visibility: visible;
    left: 0;
}


.background-image {
    background-image: url('https://cdn.pixabay.com/photo/2016/02/07/19/48/aurora-1185464_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content { 
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
}
.content p {
    line-height: 25px;
    color: white;
}
h1 {
    text-transform: uppercase;
    line-height: 20px;
}
h2 {
    text-transform: uppercase;
    margin-top: 0;
}

footer {
    background-color: var(--primary-blue);
    color: #664040;
    padding: 20px 0;
    text-align: center;
    justify-content: space-between;
    font-weight: bold;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
    text-transform: uppercase;
}

footer a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px;
    text-transform: uppercase;
    height: 100%;
}


@media (max-width: 900px) {
    .burger-menu-label {
        display: flex;
    }

    .nav-buttons-main {
        display: none;
    }
    
    .about-content {
        font-size: 18px;
    }
}