:root {
    --primary-blue: rgb(19, 44, 119);
    --grey-background: rgb(202, 202, 202);
}
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
header {
    background-color: #ffffff; 
    color: #000000; 
    padding: 10px; 
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 120px;
    padding: 0 50px;
}


.banner-logo img {
    width: 200px; 
    height: 180px;
    padding: 50px 0;
    object-fit: contain;
}


.banner-wrapper {
    overflow: hidden;
    height: 500px;
    width: 100%;
    background-color: var(--primary-blue);
    display: flex;
}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 30px 50px;
    height: 100%;
}

.banner-buttons {
    display: flex;
    gap: 20px;
    padding-bottom: 75px;
}
.banner-button {
    padding: 10px 30px;
    color: white;
    border: white solid 3px;
    background-color: var(--primary-blue);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    min-width: 200px
}
.banner-button:hover {
    background-color: white;
    color: var(--primary-blue);
}

.banner-image-wrapper {
    position: relative;
    width: 100%;
}
.banner-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-triangle {
    background-color: var(--primary-blue);
    width: 150px;
    height: 100%;
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 100% 0, 100% 0);
}

.second-banner-content { 
    display: flex;
}
.second-banner-text {
    padding: 50px;
}
.two-skiers-img {
    width: 40%;
    object-fit: cover;
}
.second-banner-content { 
    display: flex;
    background-color: rgb(0, 145, 194);
}
.second-banner-content h2 {
    text-align: center;
}
.second-banner-content p {
    padding: 100px;
    font-size: 24px;
    font-weight: 100;
    display: flex;
}


@media (max-width: 900px) {
    .burger-menu-label {
        display: flex;
    }
    .second-banner-content { 
        flex-direction: column;
    }
    .two-skiers-img {
        width: 100%;
    }
    .nav-buttons-main {
        display: none;
    }

    .second-banner-content p {
        padding: 20px 30px;
    }
    .second-banner-text {
        padding: 20px 0;
    }
    .banner-buttons {
        margin-top: 30px;
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column;
    }

}